/* 
==========================================
| header
==========================================
*/

.header {
  border-bottom: 1px solid #ececec;

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__logo {
    margin-right: 93px;
  }
}

.header__contacts {
  display: flex;
  margin-left: auto;
}
