/*  глобальные стили */
body {
  color: var(--primary-color);
  font-family: var(--main-ff), sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  background-color: var(--primary-bg-t-color);
}
/* sections */

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-title {
  margin-top: 0px;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--secondary-color);
}

/* wrapper container */
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}

/* утилита для картинок */
img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}
